* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    background: rgba(176, 223, 233, 1);
    flex-wrap: wrap;
    background-image: url(/imagenes/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    width: 450px;
    margin: auto;
    margin-left: 10%;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    border: 1px wheat solid;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 20px;
    margin-top: 100px;
}

form h1 {
    color: white;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;

}

form input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    background: none;
    color: white;
    border: none;
    border-bottom: white solid 1px;
    outline: 0px;
    transition: .5s;
}

form div {
    position: relative;
}

/*input::placeholder{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    box-shadow: none;
}*/

form label {
    position: absolute;
    left: 0;
    top: 25px;
    pointer-events: none;
    color: white;
    transition: .5s;
}

input:focus~label {
    top: -8px;
    font-size: 15px;
}

input:valid~label {
    top: -8px;
    font-size: 15px;
}

input:focus,
input:valid {
    border-bottom: 1px solid wheat;
}

form button {
    overflow: hidden;
    display: table;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    transition: .3S;
    color: black;
    background: #efefefef;
}

form button:hover {
    cursor: pointer;
    background: white;
    transform: scale(1.05);
}

form a {
    display: table;
    margin: 2px auto;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: .3s;
}

form a:hover {
    color: wheat;
    background: none;
}

@media (max-width:580px) {
    .formulario {
        width: 80%;

    }
}

@media (max-width:500px) {
    .formulario {
        width: 90%;
        margin-left: 5%;

    }
}